<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-5xl font-semibold leading-6 text-gray-900">Tasks</h3>
    <p class="mt-4 max-w-2xl text-lg ml-2 text-gray-500">Tasks details.</p>
  </div>
    <%= link_to 'New task', new_task_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="tasks" class="min-w-full">
    <%= render @tasks %>
  </div>
</div>
