<div class="flex w-full min-h-full items-center justify-center px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-4xl space-y-8">
    <div>
      <img class="mx-auto h-72 w-auto" src="https://media.glassdoor.com/sql/1542741/beezen-squarelogo-1513863872297.png" alt="Beezen logo">
      <h1 class="flex justify-center mt-6 text-center text-6xl font-bold tracking-tight text-gray-900">Open <img class="w-48 h-12 mr-0 ml-2 mt-1" alt="Open Beezen logo" src="<%= asset_path 'logo-3.png' %>">'s Home Project</h1>
    </div>
  </div>
</div>
